div.my_utente img {
    width: 30%;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.my_notifiche {
    background-color: aquamarine;
}

.my_bell {
    font-size: 1.2rem;
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 50%;
    color: aquamarine;
}

.my_text-notifiche {
    padding-bottom: 5px;
}

.my_search {
    color: lightgrey;
}

.my_search-bar {
    color: lightgrey;
    font-size: 1rem;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
    padding: 8px 10px;
    width: 80%;
}

.my_img-avatar {
    width: 25%;
    border-radius: 50%;
}

.active {
    background-color: lightgrey;
}

.my_contact-active {
    width: 20%;
}

.my_contact-act {
    border-left: 1px solid lightgrey;
}

.my_contact-act,
.my_utente,
.my_toolbar {
    height: 70px;
}

.my_contain-msg {
    padding: 15px;
    width: 280px;
    height: 100px;
    border-radius: 15px;
}

.my_green {
    background-color: rgb(175, 247, 175, .7);
}

.my_white {
    background-color: rgba(255, 255, 255, 0.788);
}

.my_conversation {
    background-image: url(../img/mine.jpg);
    height: calc( 100% - 140px);
}

.my_bg-grey {
    background-color: rgb(248, 245, 245);
}

.my_overflow {
    overflow-y: scroll;
}

.my_date {
    font-size: .7rem;
    padding-bottom: 10px;
}




